/* Reset de margens e preenchimentos */
* {
  box-sizing: border-box;
}

body,
h1,
form,
label,
input {
  margin: 0;
  padding: 0;
}

/* Definindo fontes e cores padrão */
body {
  font-family: "Poppins", Arial, sans-serif; /* Fonte Poppins com fallback */
  color: #333;
}

/* Estilos para o cabeçalho com a logo e o nome */
header {
  background-color: white;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 60%;
  height: 100%;
}

header h1 {
  font-size: 24px;
  margin-top: 10px;
}
.containerImage {
  width: 100%;
}
.containerImage img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;

  max-height: 16px;
}

/* Estilização do formulário */
form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  background-color: hsl(274, 53%, 96%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-size: 16px;
  margin: 10px 0; /* Margens verticais com espaçamento entre os campos */
  color: #6b5b95;
}

form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 14px;
}
/* Estilização do botão */

button[type="submit"] {
  max-width: 80%;
  background-color: #9854cb; /* Cor de fundo do botão no hover */
  position: center;
  color: white; /* Cor do texto */
  border: none; /* Remover a borda */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  gap: 5px;
  transition: 0.3s all ease-in-out;
}

button[type="submit"].loading i {
  margin-right: 10px; /* Espaçamento à direita do ícone */
}

button[type="submit"]:hover {
  background-color: #ad70cc; /* Cor de fundo do botão no hover */
}

button[type="submit"]:active {
  transform: scale(0.8);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
form input:focus {
  outline: none;
  border-color: #8a51b5;
}
.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 20px;
}
.aboutUs img {
  max-width: 400px;
  display: block;
  justify-content: center;
  width: 70%;
  object-fit: cover;
  border-radius: 10px; /* Cantos arredondados */
  max-height: 100px;
}

.siga-nos {
  text-align: center;

  align-items: center;
}

.siga-nos h2 {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  color: #6b5b95;
}

.siga-nos p {
  font-size: 16px;
  margin: 0px auto 14px auto;
  width: 80%;
  max-width: 400px;

  color: #444;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.redes-sociais a {
  display: inline-block;

  margin: 0px 10px;
}

.redes-sociais a i {
  position: relative;
  font-size: 30px;
  color: #6b5b95;
  transition: 0.8s ease-in-out;
}

.redes-sociais a i:hover {
  font-size: 40px;
  color: #9854cb;
}

/* Estilização das mensagens de erro e sucesso */
#error-box,
#submit-box {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  object-fit: contain;
  display: flex;
  align-items: center;
  font-size: 12px;
  max-width: 280px;
  max-height: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#error-box {
  background-color: #ffb6b6; /* Vermelho suave */
  color: #d9534f;
}

#submit-box {
  background-color: #b2d8b2; /* Verde suave */
  color: #3c763d; /* Tom de verde */
  object-fit: contain;
  display: flex;
  align-items: center;
  font-size: 12px;
  max-width: 280px;
  max-height: 40px;
}

/* Page Users */

.container-main {
  /* width: 80%;
  margin: 0 auto;
  padding: 40px 20px; */
  width: 80%;
  max-width: 750px;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  background-color: hsl(274, 53%, 96%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.container-header h1 {
  font-size: 26px;

 
}
.container-header button {
  width: 8rem;
  background-color: #a856d1; /* Cor de fundo do botão no hover */
  position: relative;
  color: white; /* Cor do texto */
  border: none; /* Remover a borda */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s all ease-in-out;
}

.container-header button:hover {
  background-color: #ad70cc; /* Cor de fundo do botão no hover */
}

.container-header button:active {
  transform: scale(0.8);
}

.container-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #8a51b5;
  border-radius: 7px;
}

.content-user p {
  display: block;
  margin: 0;
}

.content-user p span {
  font-weight: 500;
}

.content-user.error-data {
  display: flex;
  align-items: center;
  border-radius: 10px; /* Cantos arredondados */
  justify-content: center;
  font-weight: 500;
}

.content-user.error-data > p {
  display: block;
  text-align: center;
}
